/* GENERAL STYLE */

:root {
    --primary-color: #1A337D;
    --secondary-color: #fff;
    --button-color: #3276F4;
    --error-color: #FDDEDC;
    --third-color: #F0F3F2;
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    font-weight: 400;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 100%;
}

a {
    text-decoration: none;
}

.container {
    width: 90vw;
    max-width: 1340px;
    margin: 0 auto;
}


/* NAVBAR STYLE START */

nav {
    width: 100%;
    padding: 20px 0;
    background: var(--primary-color);
    display: flex;
    align-items: center;
}

.navbar-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-items .navbar-brand {
    color: var(--secondary-color);
    font-weight: bold;
    font-size: 2.2rem;
}

.navbar-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
}

.navbar-nav .navbar-fullname {
    font-size: 1.08rem;
}

.navbar-nav a {
    font-size: 1rem;
    color: var(--secondary-color);
}

.navbar-nav .loginBtn, .navbar-nav .registerBtn {
    font-size: 1.2rem;
}

.text-underline:hover {
    text-decoration: underline;
}

.navbar-nav .navbar-fullname {
    color: #00b0ff;
}

.create-job-link {
    background: #E3AA01;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: center;
    border-radius: 6px;
    gap: 5px;
    transition: all .5s ease;
}

.create-job-link span {
    color: #000;
}

.create-job-link:hover {
    opacity: .8;
}

.create-job-icon {
    color: #000;
}

/* NAVBAR END */


/* REGISTER, LOGIN, CREATE, EDIT JOB STYLES START */

.register-main, 
.login-main, 
.create-job, 
.edit-job {
    background: var(--third-color);
    min-height: calc(100vh - 80px);
    width: 100%;
}

.register-main .form-area,
.login-main .form-area,
.create-job .form-area,
.edit-job .form-area {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Register, Login, Create, Edit Job Form */
.form-area form {
    width: 90vw;
    max-width: 520px;
    margin-top: 70px;
    background-color: var(--secondary-color);
    text-align: center;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 3px #dfdfdf;
}

.form-area form h2 {
    font-size: 2.1rem;
    margin-bottom: 20px;
    margin-top: 6px;
}

form .form-inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

form .form-inputs input {
    width: 100%;
    padding: 12px 15px;
    outline: 0;
    border: 1px solid #c7cacc;
    border-radius: 6px;
}

/* Input Placeholder Style */
input::-ms-input-placeholder { /* Edge 12-18 */
    color: #94989c;
    font-family: sans-serif;
    font-size: 0.95rem;
    font-weight: bold;
}
  
input::placeholder {
    color: #94989c;
    font-family: sans-serif;
    font-size: 0.95rem;
    font-weight: 500;
}

form .form-inputs button {
    width: 100%;
    padding: 12px 15px;
    color: var(--secondary-color);
    background: var(--button-color);
    border-radius: 6px;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    transition: all .4s ease;
}

form .form-inputs button:hover {
    background: var(--primary-color);
}

/* Form Footer */
form .form-inputs .form-footer {
    width: 100%;
    text-align: start;
    color: #888;
    margin-top: 3px;
}

.form-footer a {
    color: var(--primary-color);
    font-weight: bold;
    margin-left: 3px;
}

.form-footer a:hover {
    opacity: .85;
}

/* Register Login Create Job Error */
.register-error, 
.login-error, 
.create-job-error, 
.edit-job-error {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 12px;
    margin: 20px 0;
}

.register-error span, 
.login-error span, 
.create-job-error span,
.edit-job-error span {
    background-color: var(--error-color);
    padding: 6px;
    border-radius: 2px;
    font-weight: 700;
}

.success-register-alert, 
.listing-created-alert,
.listing-edited-alert,
.listing-deleted-alert {
    background: lightgreen;
    color: var(--secondary-color);
    padding: 20px;
    text-align: center;
    margin: 20px 0;
    border-radius: 6px;
    font-size: 1.1rem;
}

.listing-edited-alert, .listing-created-alert {
    width: 50%;
    background: rgb(73, 180, 73);
}

.listing-deleted-alert {
    background: red;
    width: 50%;
}

/* REGISTER, LOGIN, CREATE JOB STYLES END */


/* HEADER STYLES START */

.header-image {
    width: 100%;
    height: 350px;
    background-image: url('../images/showcase.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/* Header Form Section */
.header-form {
    width: 100%;
    height: 100%;
    backdrop-filter: brightness(60%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 15px;
}

.header-form h1 {
    color: var(--secondary-color);
    font-weight: bold;
    font-size: 2.2rem;
    margin: 0 15px;
    text-align: center;
}

.header-form form {
    width: 90vw;
    max-width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.header-form input {
    padding: 12px 15px;
    outline: 0;
    border: 1px solid #c7cacc;
    font-size: 0.9rem;
}

.header-form button {
    padding: 12px 15px;
    color: var(--secondary-color);
    background: var(--button-color);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    transition: all .5s ease;
}

.header-form button:hover {
    background: var(--primary-color);
}

/* HEADER STYLES END */


/* ARTICLE STYLES START */

article {
    width: 100%;
    background: var(--primary-color);
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column; 
}

article h2 {
    text-transform: capitalize;
    font-size: 1.9rem;
    color: var(--secondary-color);
    margin-bottom: 12px;
}

article p {
    color: var(--secondary-color);
}

/* ARTICLE STYLES END */


/* JOB LIST SECTION STYLES START */

.main-job-listings {
    background: var(--third-color);
    min-height: 80vh;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 15px;
}

.job-listings-title {
    width: 100%;
}

.job-listings-title h2 {
    text-align: center;
    font-size: 1.9rem;
    border: 1px solid #CBCDCE;
    padding: 15px 0;
}

.job-listings-content {
    width: 90vw;
    max-width: 1340px;
    margin: 2rem auto 0 auto;
    display: grid;
    place-items: center;
    gap: 2rem;
}

.job-listings-content .job-listing {
    background: var(--secondary-color);
    padding: 12px 15px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    border-radius: 8px;
    height: 100%;
    width: 100%;
    max-width: 420px;
    box-shadow: 0px 4px 3px #dfdfdf;
}

.job-listing .job-listing-header h2 {
    margin: 10px 0;
}

.job-listing .job-listing-header p {
    color: #393C40;
    margin: 15px 0 10px 0;
}

.job-listing .job-listing-body {
    background: var(--third-color);
    padding: 13px 15px;
    border-radius: 5px;
}

.job-listing .job-listing-body p {
    margin: 8px 0;
}

.job-listing .job-listing-body span {
    font-weight: bold;
}

.job-listing-footer {
    margin: 10px 0;
}

.job-listing .job-listing-footer a {
    background: #DAE3FC;
    color: #3B3F8C;
    font-weight: bold;
    width: 100%;
    padding: 15px 0;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all .4s ease;
}

.job-listing .job-listing-footer a:hover {
    background: #3B3F8C;
    color: #DAE3FC; 
}

.show-all-jobs {
    width: 100%;
    padding: 30px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.show-all-jobs a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 5px;
    color: #000;
    font-size: 1.1rem;
}

/* JOB LIST SECTION STYLES END */


/* MAIN FOOTER STYLES START */

.main-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--primary-color);
    padding: 25px 18px;
    border-radius: 4px;
    margin-top: 40px;
}

.main-footer h3 {
    margin-bottom: 12px;
}

.main-footer h3, .main-footer p {
    color: var(--secondary-color);
}

/* MAIN FOOTER STYLES END */

/* CREATE JOB FORM STYLES START */

.create-job form h2,
.edit-job form h2 {
    font-size: 2.2rem;
}

.create-job form h3,
.edit-job form h3 {
    color: #94989c;
    font-size: 1.5rem;
    margin: 5px;
}

.create-job .save-cancel-btn,
.edit-job .save-cancel-btn {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.create-job .saveBtn,
.edit-job .saveBtn {
    background: #1FBF51;
}

.create-job .saveBtn:hover,
.edit-job .saveBtn:hover {
    opacity: .8;
    background: green;
}

.create-job .save-cancel-btn a,
.edit-job .save-cancel-btn a {
    display: inline-block;
    width: 100%;
    padding: 12px 15px;
    color: var(--secondary-color);
    background: #EA3D3E;
    border-radius: 6px;
    font-size: 1rem;
    transition: all .4s ease;
}

.create-job .save-cancel-btn a:hover,
.edit-job .save-cancel-btn a:hover {
    background: red;
}

/* CREATE JOB FORM STYLES END */


/* JOB DETAILS STYLES START */

.job-details {
    background: var(--third-color);
    min-height: 80vh;
    width: 100%;
    padding: 30px 0 15px 0;
}

.job-details-content {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    row-gap: 2rem;
}

.job-details-content .job-details-top {
    background: var(--secondary-color);
    padding: 12px 15px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    border-radius: 8px;
    width: 100%;
    box-shadow: 0px 4px 3px #dfdfdf;
}

.job-details-top-btns {
    display: flex;
    justify-content: space-between;
}

.job-details-top-btns .back-to-listings {
    margin-top: 15px;
    color: var(--button-color);
    font-weight: 600;
    font-size: 0.95rem;
}

.job-details-top-btns > div {
    display: flex;
    align-items: center;
}

.job-details-top-btns > div .editBtn {
    display: inline-block;
    padding: 12px 24px;
    border-radius: 6px;
    font-size: 1rem;
    margin-right: 20px;
    text-align: center;
    background: var(--button-color);
    color: var(--secondary-color);
    transition: all .4s ease;
    cursor: pointer;
}

.job-details-top-btns > div .editBtn:hover {
    background: var(--primary-color);
}

.job-details-top-btns > div .deleteBtn {
    display: inline-block;
    padding: 12px 24px;
    font-size: 1rem;
    border-radius: 6px;
    text-align: center;
    background: #E93A39;
    color: var(--secondary-color);
    border: none;
    transition: all .4s ease;
    cursor: pointer;
}

.job-details-top-btns > div .deleteBtn:hover {
    background: red;
}

.job-details-top-header h2 {
    margin: 10px 0;
}

.job-details-top-header p {
    color: #393C40;
    margin: 15px 0 10px 0;
}

.job-details-top-body {
    background: var(--third-color);
    padding: 18px 22px;
    border-radius: 5px;
    margin-bottom: 40px;
}

.job-details-top-body p {
    margin: 12px 0;
}

.job-details-top-body span {
    font-weight: bold;
}

.job-details-bottom {
    background: var(--secondary-color);
    padding: 10px 18px;
    border-radius: 8px;
    width: 100%;
    box-shadow: 0px 4px 3px #dfdfdf;
}

.job-details-bottom h3 {
    color: var(--button-color);
    margin: 18px 0;
}

.job-details-bottom p {
    margin: 10px 9px 15px;
}

.applyBtn {
    width: 100%;
    padding: 12px 6px;
    text-align: center;
    box-shadow: 0px 4px 3px #dfdfdf;
    border-radius: 6px;
    cursor: pointer;
    background: #DAE3FC;
    color: #34319B;
    font-weight: bold;
    transition: all .4s ease;
}

.applyBtn:hover {
    color: #DAE3FC;
    background: #3c3a8d;
}
/* JOB DETAILS STYLES END */


/* RESPONSIVE */

@media (max-width: 572px) {
    /* Navbar */
    .navbar-items  {
        flex-direction: column;
        row-gap: 15px;
    }

    .navbar-nav {
        display: block;
        text-align: center;
    }

    .navbar-nav .navbar-fullname {
        font-size: 1rem;
        display: inline-block;
        margin: 15px auto;
    }

    .navbar-nav .logoutBtn, .navbar-nav .registerBtn {
        display: inline-block;
        margin-left: 15px;
    }

    .navbar-nav .create-job-link {
        padding: 8px;
        font-size: 14px;
        display: block;
        width: 60%;
        margin: 15px auto 0;
    }

    /* Header Form */
    .header-form form {
        display: block;
        margin-left: 10px;
        margin-right: 10px;
    }

    .header-form h1 {
        font-size: 2rem;
    }

    .header-form input {
        width: 100%;
        margin-bottom: 10px;
    }
    
    .header-form button {
        width: 100%;
    }

    /* Article */
    article h2 {
        font-size: 1.7rem;
    }

    /* Main Footer */
    .main-footer {
        flex-direction: column;
        align-items: start;
        row-gap: 12px;
    }

    .main-footer .create-job-link {
        padding: 8px;
        font-size: 14px;
        width: 50%;
        margin-top: 15px;
    }
}

@media (min-width: 768px) {
    /* Job Listings Content */
    .job-listings-content  {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 992px) {
    /* Job Listings Content */
    .job-listings-content  {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

